{% extends "_base.html" %}
{% block content %}
<div class="form-wrapper">
  <h3 class="text-center mb-3">Set up Two-Factor Authentication</h3>
  <ul>
    <li>Install <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" target="_blank">Google Authenticator</a>.</li>
    <li>Scan the QR code shown below.</li>
    <li>Then click <a href="{{ url_for('accounts.verify_two_factor_auth') }}">here to continue</a>.</li>
  </ul>
  <div class="text-center my-3">
    <img src="data:image/png;base64, {{ qr_image }}" alt="QR Code" width="200" height="200">
  </div>
  <div class="form-group text-center">
    <label for="secret">Secret Token</label>
    <input type="text" class="form-control" id="secret" value="{{ secret }}" readonly>
    <button type="button" class="btn btn-secondary mt-2" onclick="copySecret()">Copy Secret</button>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
function copySecret() {
  const input = document.getElementById("secret");
  input.select();
  document.execCommand("copy");
  alert("Secret copied to clipboard!");
}
</script>
{% endblock %}
