# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
env/

# Ignore environment files
.env
.env.*

# Ignore Flask-specific instance and migration folders
instance/
migrations/

# Ignore local-only scripts
create_db.py
drop_table.py

# Ignore database and logs
*.sqlite3
*.log
